@model IEnumerable<Abeced.UI.Web.Models.FactModelRetrieve>

@{
    ViewBag.Title = "Quizes";
}
<style>
    .uppercase {
        text-transform: uppercase;
    }

    .container__item{
        margin-left:30px;

    }
    .btn--primary {
        background: #1C2331;
        color: #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        padding: 12px 20px;
    }
    .btn-continue {
        background: #ffa726;
        color: #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        padding: 12px 20px;
        margin-left:13px;
    }
    .btn--primary:hover {
        background: #3E4551;
        color: #fff
    }

        .btn--primary:active {
            background: #1C2331;
            box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);

        }

   
    .form__field {
        width: 80%;
        background: #fff;
        color: #a3a3a3;
        font: inherit;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        border: 0;
        outline: 0;
        padding: 22px 18px;
        max-width:1000px;
    }
    .correct-answer {
        padding: 15px 20px;
        border-radius: 10px;
        border: 1px solid #bbb;
        background-color: #dcedc8;
        color:red;
    }
    .correct {
        background-color: #76ff03;
        color: #3E4551;
    }


    progress[value] {
        width: 100%;
        height: 20px;
        background-color: #00b8d4;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
        color: #3E4551;
        position: relative;
        margin: 0 0 1.5em;
    }

        progress[value]::-webkit-progress-bar {
            background-color: #00b8d4;
            border-radius: 3px;
            box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
        }

progress[value]::-webkit-progress-value {
    position: relative;

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    animation: animate-stripes 5s linear infinite;
}

progress[value]::-webkit-progress-value:after {
    content: '';
    position: absolute;
    width:5px; height:5px;
    top:7px; right:7px;
    background-color: white;
    border-radius: 100%;
}
progress[value]::-moz-progress-bar {
   
    background-image:
    -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
    -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

  
}


    .progress-bar {
        background-color: #00b8d4;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
        width: 100%;
        height: 20px;
    }

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;

    display: block;
    text-indent: -9999px;
}

p[data-value] {

  position: relative;
}

p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; right:0;
}

.css3::-webkit-progress-value

{
    background-image:
    -webkit-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
    -webkit-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
}



.css3::-moz-progress-bar
 {

    background-image:
    -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
    -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #ff0);
}

</style>
<h2>Quizes</h2>
<!--holder for our AngularJs App-->
<div ng-app="QuizApp">
    <div ng-controller="ListController as FactList">
        <div class="container">
            <!--Progress Area-->
            <div class="row">
                    <div class="col-md-8">
                        <h2>Progress:</h2>
                        <div class="btn-toolbar">
                            <button class="btn" ng-repeat="question in FactList.data.factList"
                                    ng-class="{'btn-info': question.Answered !== null, 
                                    'btn-danger': question.Answered === null}"
                                    ng-click="FactList.setActiveQuestion($index)">
                                <span class="glyphicon" ng-class="{'glyphicon-pencil':question.Answered !== null,
                                      'glyphicon-question-sign': question.Answered === null}"></span>
                            </button>

                        </div>


                    </div>
                    <div class="col-md-4">
                        <h3>Legend:</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-info"><span class="glyphicon glyphicon-pencil" ></span></button>
                                <p>Answered</p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-question-sign"></span></button>
                                <p>Unaswered</p>
                            </div>
                        </div>
                    </div>
            </div>

            @*///Progress Area ends==============================*@
            <!--Question and Answers-->
            <div class="row">
               <div class="alert alert-danger"
                    ng-show="FactList.UnCompletedError" >
                   You haven't finished answering all the questions, Finish all questions first
                   <button class="close" ng-click="FactList.UnCompletedError = false">&times;</button>

               </div>
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <div class="question-text">
                                <h3>{{FactList.ActiveQuestion+1 + ". " + FactList.data.factList[FactList.ActiveQuestion].question}}</h3>
                                
                            </div>
                    
                            <span class="clearfix"></span>
                            <div class="row" style="margin-bottom:15px">
                                <div class="container__item">
                                    <form >
                                        <input type="text" id="adjinput" class="form__field" placeholder="Enter Answer here"  ng-model="FactList.InputedAnswer" />
                                        <button type="button" class="btn btn--primary btn--inside uppercase"
                                                ng-click="FactList.SubmitAnswer()"
                                                ng-class="{'disabled': FactList.InputedAnswer ==''}">View Answer</button>
                                    </form>
                              
                                </div>
                                
                            </div>
                            <div class="row" style="padding-left:30px; padding-right:30px" ng-if="FactList.DisplayAnswer == true">
                                <h4 class="correct-answer" ng-bind-html="FactList.highlightedAnswer"></h4>
                               
                                <h3 ng-value="FactList.SuccessPercentage">You scored {{FactList.SuccessPercentage}}% in this Question</h3>
                                <progress max="100" ng-value="FactList.SuccessPercentage" class="css3">
                                    <div class="progress-bar">
                                        <span ng-style="FactList.progress">{{FactList.SuccessPercentage}}%</span>
                                    </div>
                                </progress>


                               
                            </div>
                            <button class="btn btn-continue btn--inside uppercase" ng-click="FactList.questionAnswered()">Continue</button>
                        </div>

                </div>

            </div>
        </div>

    </div>
</div>




<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular/angular-sanitize.min.js"></script>
<script src="~/Scripts/angular/levenshtein.js"></script>
<script src="~/Scripts/angular/quizes.js"></script>

<script>

    (function () {

        var min = 100, max = 300, pad_right = 5, input = document.getElementById('adjinput');

        input.style.width = min + 'px';
        input.onkeypress = input.onkeydown = input.onkeyup = function () {
            var input = this;
            setTimeout(function () {
                var tmp = document.createElement('div');
                tmp.style.padding = '0';
                if (getComputedStyle)
                    tmp.style.cssText = getComputedStyle(input, null).cssText;
                if (input.currentStyle)
                    tmp.style = input.currentStyle;
                tmp.style.width = '';
                tmp.style.position = 'absolute';
                tmp.innerHTML = input.value.replace(/&/g, "&amp;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/"/g, "&quot;")
                    .replace(/'/g, "&#039;")
                    .replace(/ /g, '&nbsp;');
                input.parentNode.appendChild(tmp);
                var width = tmp.clientWidth + pad_right + 1;
                tmp.parentNode.removeChild(tmp);
                if (min <= width && width <= max)
                    input.style.width = width + 'px';
            }, 1);
        }



</script>