@model IEnumerable<Abeced.UI.Web.Models.FactModelRetrieve>

@{
    ViewBag.Title = "Quizes";
}
<style>

    .correct-answer {
        padding: 15px 20px;
        border-radius: 10px;
        border: 1px solid #bbb;
        background-color: #dcedc8;
        /*color: #3E4551;*/
        color:red;
    }
    .correct{
        background-color:green;
    }

</style>
<h2>Quizes</h2>
<!--holder for our AngularJs App-->
<div ng-app="QuizApp">
    <div ng-controller="ListController as FactList">
        <div class="container">
            <!--Progress Area-->
            <div class="row">
                    <div class="col-md-8">
                        <h2>Progress:</h2>
                        <div class="btn-toolbar">
                            <button class="btn" ng-repeat="question in FactList.data.factList"
                                    ng-class="{'btn-info': question.Answered !== null, 
                                    'btn-danger': question.Answered === null}"
                                    ng-click="FactList.setActiveQuestion($index)">
                                <span class="glyphicon" ng-class="{'glyphicon-pencil':question.Answered !== null,
                                      'glyphicon-question-sign': question.Answered === null}"></span>
                            </button>

                        </div>


                    </div>
                    <div class="col-md-4">
                        <h3>Legend:</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-info"><span class="glyphicon glyphicon-pencil" ></span></button>
                                <p>Answered</p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-question-sign"></span></button>
                                <p>Unaswered</p>
                            </div>
                        </div>
                    </div>
            </div>

            @*///Progress Area ends==============================*@
            <!--Question and Answers-->
            <div class="row">
               <div class="alert alert-danger"
                    ng-show="FactList.UnCompletedError" >
                   You haven't finished answering all the questions, Finish all questions first
                   <button class="close" ng-click="FactList.UnCompletedError = false">&times;</button>

               </div>
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <div class="question-text">
                                <h3>{{FactList.ActiveQuestion+1 + ". " + FactList.data.factList[FactList.ActiveQuestion].question}}</h3>
                                
                            </div>
                    
                            <span class="clearfix"></span>
                            <div class="row" style="margin-bottom:15px">
                                <div class="col-md-6 col-md-offset-3">
                                    <input type="text" class="form-control" style="display:inline" placeholder="Enter Answer here" ng-model="FactList.InputedAnswer" />
                                    
                                    <button class="btn btn-warning pull-right" style="display:inline"
                                            ng-click="FactList.SubmitAnswer()"
                                            ng-class="{'disabled': FactList.InputedAnswer ==''}">View Answer</button>
                                </div>
                                
                            </div>
                            <div class="row" style="padding-left:30px; padding-right:30px" ng-if="FactList.DisplayAnswer == true">
                                <h4 class="correct-answer" ng-bind-html="FactList.highlightedAnswer"></h4>
                                <p style="color:red"> The words you got wrong::{{FactList.WrongWords}}</p>
                                <p style="color:forestgreen">The words You got correct::{{FactList.CorrectWords}}</p>
                                <h4>Your Success Percentage on this quiz is:: {{FactList.SuccessPercentage}}</h4>

                            </div>
                            <button class="btn btn-success" ng-click="FactList.questionAnswered()">Continue</button>
                        </div>

                </div>

            </div>
        </div>

    </div>
</div>




<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular/levenshtein.js"></script>
<script src="~/Scripts/angular/quizes.js"></script>