
@{
    ViewBag.Title = "Select Card ";
}

<link href="~/Content/JqueryDataTable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/JqueryDataTable/dataTables.checkboxes.css" rel="stylesheet" />

<h2>Select Cards For this Course</h2>


<br />
<h3>@ViewBag.CourseTitle</h3>
<!--It submits the selected rows ids to the controller action and redirects to the selected app page -->

    <!-- the use of the form-->
    <table id="FactsTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Fact ID</th>
                <th>Fact Question</th>
                <th>Fact Answer</th>
                <th>Fact Sheet</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Fact ID</th>
                <th>Fact Question</th>
                <th>Fact Answer</th>
                <th>Fact Sheet</th>
            </tr>
        </tfoot>
    </table>


<button id="submit" class="btn btn-default">Submit</button>






@section scripts{
<script src="~/Scripts/JqueryDataTable/jquery.dataTables.min.js"></script>
    
<script src="~/Scripts/JqueryDataTable/dataTables.checkboxes.min.js"></script>
    <script>

        $(document).ready(function () {

          var table =  $("#FactsTable").DataTable(
                {
                    "ajax": {
                        "url":"/FlashCard/SelectCards",
                        "type": "Get",
                        "datatype":"json"
                    },
                    "columns": [
                        { "data": "FactId" },
                        { "data": "question" },
                        { "data": "answer" },
                        { "data": "factsheet" }
                    ], 
                    "columnDefs": [
                        {
                            "targets": 0,
                            "checkboxes": {
                                "selectRow": true
                            }
                        }
                    ],
                    "select": {
                        "style": "multi"
                    },
                    "order": [[1, "asc"]]
                });
            // Handle form submission event
            // $('#Submit-selected-rows').on('submit', function (e) {
            $('#submit').click(function () {

           
                var form = this;

                var rows_selected = table.column(0).checkboxes.selected();
                var myIds = new Array();
                // Iterate over all selected checkboxes
                $.each(rows_selected, function (index, rowId) {
                    // Create a hidden element

                    myIds.push(rowId);

                    //$(form).append(
                    //    $('<input>')
                    //        .attr('type', 'hidden')
                    //        .attr('name', 'FactId[]')
                    //        .val(rowId)
                    //);
                });
                console.log(myIds);
                $.ajax({
                    type: 'POST',
                    url: '/FlashCard/GetData',
                    data: { 'myIds': myIds.join() },

                    success: function (response) {
                        alertify.alert("ids added succesfully !!!")

                    },
                    error: function (response) {

                        alertify.alert("ids failed to add !!!")
                    }

                });



            });
            

        });
    </script>

}


