
@{
    ViewBag.Title = "Select Card ";
}

<link href="~/Content/JqueryDataTable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/JqueryDataTable/dataTables.checkboxes.css" rel="stylesheet" />

<h2>Select Cards For this Course</h2>


<br />
<h3>@ViewBag.CourseTitle</h3>
<!--It submits the selected rows ids to the controller action and redirects to the selected app page -->

    <!-- the use of the form-->
    <table id="FactsTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Fact ID</th>
                <th>Fact Question</th>
                <th>Fact Answer</th>
                <th>Fact Sheet</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Fact ID</th>
                <th>Fact Question</th>
                <th>Fact Answer</th>
                <th>Fact Sheet</th>
            </tr>
        </tfoot>
    </table>


<button id="Proceed" class="btn btn-default">Submit</button>


@section scripts{
<script src="~/Scripts/JqueryDataTable/jquery.dataTables.min.js"></script>
    
<script src="~/Scripts/JqueryDataTable/dataTables.checkboxes.min.js"></script>
    <script>

        $(document).ready(function () {

          var table =  $("#FactsTable").DataTable(
                {
                    "ajax": {
                        "url":"/FlashCard/SelectCards",
                        "type": "Get",
                        "datatype":"json"
                    },
                    "columns": [
                        { "data": "FactId" },
                        { "data": "question" },
                        { "data": "answer" },
                        { "data": "factsheet" }
                    ], 
                    "columnDefs": [
                        {
                            "targets": 0,
                            "checkboxes": {
                                "selectRow": true
                            }
                        }
                    ],
                    "select": {
                        "style": "multi"
                    },
                    "order": [[1, "asc"]]
                });
            $('#Proceed').click(function () {

                var rows_selected = table.column(0).checkboxes.selected();

                var myIds = new Array();// an array that keep track of all selected rows

                // Iterate over all selected checkboxes
                $.each(rows_selected, function (index, rowId) {
                    myIds.push(rowId);
                });
                var Postdata = JSON.stringify({ FactIds: myIds }); // posting the ids as a json object
              
                $.ajax({
                    type: 'POST',
                    url: '/FlashCard/GetData', 
                     //posting the selected the ids as a string to the /flashcard/getdata controller
                    data: { 'myIds': myIds.join() }, //You can post the ids as a string 
                    success: function (data) {
                        alertify.alert("ids added succesfully !!!");
                        window.location.href = "/FlashCard/FactsToMatch?SelectedCards=" + data.factIds;

                    },
                    error: function (response) {

                        alertify.alert("ids failed to add !!!")
                    }

                });



            });
            

        });
    </script>

}


