@model Abeced.UI.Web.Models.Sharing
@{
    ViewBag.Title = "AddorEditCard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/JqueryDataTable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/JqueryDataTable/dataTables.checkboxes.css" rel="stylesheet" />
<link href="~/Content/JqueryDataTable/select.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/checkboxes-bootstrap.css" rel="stylesheet" />

<style>
    table td {
        font-size: 14px;
    }
    table th{
        font-size:16px;
    }
    .unique-bg {
        background-color: #3F729B;
    }

    .form-header {
        color: #fff;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 10px;
        padding: 5px;
        /*padding:1em;*/
        border-radius: 2px;
    }

    .rounded {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    }

    textarea, input {
        max-width: none;
    }

    .deep-blue-gradient {
        background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    }
</style>
<div class="form-header deep-blue-gradient rounded">
    <h3 class="text-center">Select Cards</h3>
</div>

@*@{ Html.RenderAction("sharecards", "flashcard"); }*@



<!--It submits the selected rows ids to the controller action and redirects to the selected app page -->
<!-- the use of the form-->
<div class="card" style="padding:8px">
    <div class="card-body">



        <table id="FactsTable" cellspacing="0" style="width:100%" class="table table-striped table-bordered">
            <thead class="unique-bg">
                <tr>
                    <th class="th-lg"></th>
                    <th class="th-lg">Fact Question</th>
                    <th class="th-lg">Fact Answer</th>
                    <th class="th-lg">Fact Sheet</th>
                    
                </tr>
            </thead>
            <tfoot class="unique-bg">
                <tr>
                    <th class="th-lg"></th>
                    <th class="th-lg">Fact Question</th>
                    <th class="th-lg">Fact Answer</th>
                    <th class="th-lg">Fact Sheet</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<div class="text-center">
    <button id="ProceedToFactsToMatch" style="margin-right:15px" class="btn btn-unique btn-sm">Proceed To Facts-To-Match</button>
    <button id="ProceedToFlashCards" style="margin-right:15px" class="btn btn-mdb-color btn-sm">Proceed To Flash Cards</button>
    <button id="ProceedToQuizes" style="margin-right:15px" class="btn btn-elegant btn-sm">Proceed To Quizes</button>
    <button id="ProceedToTest" style="margin-right:15px" class="btn btn-indigo btn-sm">Proceed To Test</button>
</div>
<br />
<br/>


@section scripts{
    <script src="~/Scripts/JqueryDataTable/jquery.dataTables.min.js"></script>
   
    <script src="~/Scripts/JqueryDataTable/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/JqueryDataTable/dataTables.select.min.js"></script>
    <script src="~/Scripts/JqueryDataTable/dataTables.checkboxes.min.js"></script>
    <script>

        $(document).ready(function () {
           
                 // DataTable that keep tracks of cards selected by user
            function myTable() {
                var table = $("#FactsTable").DataTable(
                {
                    "ajax": {
                        "url": "/FlashCard/SelectCards",
                        "type": "Get",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "FactId" },
                        { "data": "question" },
                        { "data": "answer" },
                        { "data": "factsheet" }
                    ],
                    "columnDefs": [
                        {
                            "targets": 0,
                            "render": function (data, type, row, meta) {
                                if (type === 'display') {
                                    data = '<div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label></label></div>';
                                }
                                return data;
                            },
                            "checkboxes": {
                                "selectRow": true,
                                "selectAllRender": '<div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label></label></div>'

                            }
                        }
                    ],
                    "select": {
                        "style": "multi"
                    },
                    "order": [[1, "asc"]]
                });
            // End ===============================================//
                return table;
            }

            var table = myTable();

            //Proceed To Facts To Match
            $('#ProceedToFactsToMatch').click(function () {
                var rows_selected = table.column(0).checkboxes.selected();
                var myIds = new Array();// an array that keep track of all selected rows
                // Iterate over all selected checkboxes

                $.each(rows_selected, function (index, rowId) {
                    myIds.push(rowId);
                });
                $.ajax({
                    type: 'POST',
                    url: '/FlashCard/GetData',
                    //posting the selected the ids as a string to the /flashcard/getdata controller
                    data: { 'myIds': myIds.join(',') }, //You can post the ids as a string
                    success: function (data) {
                        alertify.alert("ids added succesfully !!!");
                        window.location.href = "/FlashCard/FactsToMatch?SelectedCards=" + data.factIds;

                    },
                    error: function (response) {

                        alertify.alert("ids failed to add !!!")
                    }

                });



            });
            // End ===============================================//

            //Proceed To Flash Cards
            $('#ProceedToFlashCards').click(function () {

                var rows_selected = table.column(0).checkboxes.selected();

                var myIds = new Array();// an array that keep track of all selected rows

                // Iterate over all selected checkboxes
                $.each(rows_selected, function (index, rowId) {
                    myIds.push(rowId);
                });
                //var Postdata = JSON.stringify({ FactIds: myIds }); // posting the ids as a json object

                $.ajax({
                    type: 'POST',
                    url: '/FlashCard/GetData',
                    //posting the selected the ids as a string to the /flashcard/getdata controller
                    data: { 'myIds': myIds.join(',') }, //You can post the ids as a string
                    success: function (data) {
                        // alertify.alert("ids added succesfully !!!");
                        window.location.href = "/FlashCard/FlashCards?SelectedCards=" + data.factIds;

                    },
                    error: function (response) {

                        alertify.alert("ids failed to add !!!")
                    }

                });



            });
            // End ===============================================//

            //Proceed To Quizes
            $('#ProceedToQuizes').click(function () {

                var rows_selected = table.column(0).checkboxes.selected();

                var myIds = new Array();// an array that keep track of all selected rows

                // Iterate over all selected checkboxes
                $.each(rows_selected, function (index, rowId) {
                    myIds.push(rowId);
                });
                //var Postdata = JSON.stringify({ FactIds: myIds }); // posting the ids as a json object

                $.ajax({
                    type: 'POST',
                    url: '/FlashCard/GetData',
                    //posting the selected the ids as a string to the /flashcard/getdata controller
                    data: { 'myIds': myIds.join(',') }, //You can post the ids as a string
                    success: function (data) {
                        //alertify.alert("ids added succesfully !!!");
                        window.location.href = "/FlashCard/Quizes?SelectedCards=" + data.factIds;

                    },
                    error: function (response) {

                        alertify.alert("ids failed to add !!!")
                    }

                });
              

            });
            // End ===============================================//

            $('#ProceedToTest').click(function () {

                var rows_selected = table.column(0).checkboxes.selected();

                var myIds = new Array();// an array that keep track of all selected rows

                // Iterate over all selected checkboxes
                $.each(rows_selected, function (index, rowId) {
                    myIds.push(rowId);
                });
                //var Postdata = JSON.stringify({ FactIds: myIds }); // posting the ids as a json object

                $.ajax({
                    type: 'POST',
                    url: '/FlashCard/GetData',
                    //posting the selected the ids as a string to the /flashcard/getdata controller
                    data: { 'myIds': myIds.join(',') }, //You can post the ids as a string
                    success: function (data) {
                        //alertify.alert("ids added succesfully !!!");
                        window.location.href = "/FlashCard/Testing?SelectedCards=" + data.factIds;

                    },
                    error: function (response) {

                        alertify.alert("ids failed to add !!!")
                    }

                });


            });
        });


    </script>

@*<script src="~/Scripts/chosen.jquery.min.js"></script>*@
<script>
    $(document).ready(function () {

        $("#multiSelectDropdown").chosen({
            width: "60%",
            max_selected_options: 5

        });

      
        function sharings(form) {
            //var rows_selected = table.column(0).checkboxes.selected();

            //if (rows_selected > 0) {
            //    $("#mySubmit").show()
            //}
            var data = $("#myform").serialize();
            $.ajax({
                type: 'POST',
                url: form.action,
                data: new FormData(form),
                success: function (response) {
                    alertify.alert("Thank you for sharing!!!");


                },
                error: function (response) {

                    alertify.alert("sharing failed !!!")
                }

            });

        }







    });


</script>

}


