@model IEnumerable<Abeced.UI.Web.Models.CourseModel>

@{
    ViewBag.Title = "GetAllCourses";
}
<style>

    .box{
        border:1px solid black;
    }


</style>

<h2>GetAllCourses</h2>


    
       @foreach (var item in Model)
       {
        <div class="OurCourses">
            <div class="col-md-4" style="padding:10px">
                <div class="box">
                    <div class="img">
                        <a href="@Url.Content("~/FlashCard/selectCards?CourseId="+item.CourseId+"&CourseName="+item.name)"><img src="@item.img" height="200" alt="Course Image" /></a>
                    </div>
                    <p class="text-center">@item.name</p>
                    <p class="text-info">@item.description</p>
                </div>

            </div>
        </div>
       }



       
<br/>


