@model Abeced.UI.Web.Models.Sharing


<link href="~/Content/select2.min.css" rel="stylesheet" />


<br /><br />


<div class="jumbotron">
    <input type="hidden" id="textBoxVal" />
    <select class="mySelect2" multiple style="width:300px;"></select>
</div>


